#* The example file shows how your .env file should look like.
#* It contains sensitive information such as tenant ID, mail username, client ID, and client secret.
#* This file should not be committed to version control to protect the credentials from being exposed.

#! To get a full explanation of each variable and how to attain their values, please refer to the README.md file in the repository.

# Tenant ID of your Azure AD application
TENANT_ID=

# Mail username (email address) that will be used to send emails (as the sender) 
MAIL_USERNAME=

# Client ID of your Azure AD application
CLIENT_ID=

# Client secret of your Azure AD application (keep this value secure, give it a expiration date and do not share it)
CLIENT_SECRET=

# Again plese make sure to create a new .env file add the values in their. 
#! Dont add your credentials to this .env.example file, this file is just for reference and should not contain any sensitive information, becouse it is publically available!!!
